$dark-blue: #00122f;
$blue: #85afda;
$gray: #f9f9f9;
$dark-gray: #9a9aa6;

html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}


body {
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

// Top styles start

.top {
    background-color: $dark-blue;
    padding: 20px 0 20px; 
    margin-bottom: 35px;
}

.top__content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top__content-item {
    color: white;
    font-size: 16px;     
    display: inline-block;
    letter-spacing: -.02em;
}

.top__link {
    text-decoration: underline;
    color: white;
}

// Top styles end

// Header styles start

.header {
    margin-bottom: 40px;
}

.header__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 35px;
}

.header__city {
    display: block;
    color: $blue;
    border: 0;
    border-bottom: 1px dashed;

}

.header__weather {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__weather-icon {
    width: 30px;
}

.header__weather-temp {
    padding-left: 20px;
    color: $dark-gray;

}

// .header__search {
//     background-color: $gray;
//     display: block;
//     align-items: center;
//     padding: 14px 50px;
//     font-size: 13px;
//     border-radius: 35px;
// }

.header__search-input {
    
    display: block;
    align-items: center;
    padding-right: 130px;
    font-size: 13px;
    border: 15px $gray solid;
    border-radius: 35px;
    background: $gray url(/img/icon-search.PNG) no-repeat right;
    background-size: 25px;
}


.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    display: inline-block;
    margin-right: 11px;
    padding-left: 31px;
    letter-spacing: -.02em;
    background: url(/img/icon-slash.PNG) no-repeat center left;
}

.header__item:nth-child(1) {
    padding-left: 0;
    background: none;
}

// Header styles end 

// Main styles start

.main {
    padding-top: 20px;
    background-color: $gray;
    padding-bottom: 25px;
}

// Left news block styles start

.news-block{
    display: inline-block;
    padding-top: 25px;
    background-color: white;
    vertical-align: top;
}

.left-block {
    max-width: 250px;
    margin-right: 15px;
    padding-bottom: 20px;
}

.news-block__title  {
    display: block;
    width: 100%;
    padding: 0 20px 25px 15px;
    border-bottom: 2px #e5e5e5 solid;
    font-size: 20px;
    font-weight: bold;
}

.news-block_items {
    padding-top: 26px;
    padding-bottom: 17px;
}

.news-block__item {
    margin-bottom: 20px;
    padding-left: 18px;
    padding-right: 18px;
}

.news-block__link {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .02em;
    padding-right: 20px;
}

.news-block__link:hover, 
.news-block__link:active,
.news-block__link:visited, 
.news-block__link:focus {
    opacity: 0.75;
}


.news-block__info {
    font-size: 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 12px;
    margin-left: -3px;
    background: url(/img/icon-slash.PNG) no-repeat left top;
    background-size: auto 12px;
    vertical-align: top;
}

.news-block__theme {
    color: $dark-gray ;
}

.news-block__info-value {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.news-block__time {
    padding-left: 14px;
    background: url(/img/icon-time.png) no-repeat left center;
    margin-right: 10px;
    margin-left: 2px;
}

.news-block__comments {
    padding-left: 14px;
    background: url(/img/icon-comments.png) no-repeat left center;
    
}

.news-block__button {
    display: block;
    align-items: center;
    padding: 14px 50px;
    background-color: white;
    border: 2px #448ccb solid;
    font-size: 13px;
    color: $blue;
    border-radius: 35px;
    margin: 0 auto;
}

// Left news block styles end

// Middle block styles start

.middle-block  {
    display: inline-block;
    margin-right: 10px;
}

.main-news {
    display: grid;
    grid-template-columns: repeat(2, 222px);
    grid-gap: 20px;   
}

.main-news-block__item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background: url(/img/krym.jpg) no-repeat center;
    background-size: cover;
    color: white;

    padding-left: 8px;
    font-size: 12px;   
}

.main-news-block__theme {
    display: inline-block;
    padding: 111px 15px 15px 15px;
}
.main-news-block__theme-value {
    display: inline-block;
    padding-bottom: 18px;
}

.main-news-block__desc {
    font-size: 30px;
    display: block;
    padding-right: 50px;
    letter-spacing: .02em;
    line-height: 1.2;
    padding-bottom: 20px
}

.main-news-block__info {
    display: inline-block;
    font-weight: bold;
    padding-bottom: 25px;
}

.main-news-block__icon {
    height: 10px;
    display: inline-block
}

.main-news-block__time {
    padding-left: 20px ;
    display: inline-block
}

.main-news-block__item2 {
    max-width: 220px;
}

.main-news-block__img {
    max-width: 220px;
}

.main-news-block__link {
    padding-top: 3px;
    font-weight: bold;
}


// Middle block styles end

// Right block styles start

.right-block {
    display: inline-block;
    max-width: 250px;
    vertical-align: top;
    margin-right: 0;
}

.banner {
    margin-bottom: 20px;
    background-size: cover;
}

// Right block styles end

// Lower block styles start

.lower-block {
    display: grid;
    grid-template-columns: 588px 412px;
    margin-bottom: 20px;
}

.lower-block__img {
    grid-column: 1;
}

.main-news-block__text {
    font-size: 14px;
}

.lower-news {
    grid-column:2/2;
    padding-top: 26px;
}

.lower-news__title {
    margin-bottom: 25px;
    
}

.lower-news__desc {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.4;
}

.low {
    margin-bottom: 30px;
}

// Lower block styles end

// Main styles end

// Footer styles start

.footer {
    background-color: $dark-blue;
    padding-top: 60px;
}

.footer__blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding-bottom: 50px;
}

.footer__block-left,
.footer__block-right {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__item {
    padding-bottom: 15px;
}

.contacts__social {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

}

.contacts__social-item {
    display: block;
    width: 40px;
    height: auto;
    padding: 10px;
    border: 2px white solid;
    border-radius: 20px;
    margin-left: 20px;
}

.contacts__phone {
    color: white;
    background: url(/img/svg/icon-tel.svg) no-repeat left center;
    padding-left: 40px;
    background-size: 15px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.contacts__mail {
    color: white;
    background: url(/img/svg/icon-mail.svg) no-repeat left center;
    padding-left: 40px;
    background-size: 15px;
    margin-left: 20px;
}

.footer_copyright {
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    border-top: 1px white solid;
}

// Footer styles end